<% include ./partials/header %>
<div>
	<header>Cinnamon and Cumin's Cooking Blog</header>
</div>
<div>
	<% posts.forEach((post) => { %>
		<div>
			<h3>
				<%= post.title %>
			</h3>
			<img src='<%=post.image%>'>
			<p>
				<%=post.created.toDateString(); %>
			</p>
			<p>
				<%=post.body%>... 
			</p>
			<a href='/posts/<%=post._id%>'>Read More</a>
		</div>
	<% }); %>
</div>
<% include ./partials/footer %> 
