<% include ./partials/header %>
<div class='container' style="">
	<h1>Cinnamon and Cumin: the Blog</h1>
	<% if(posts) { %>
		<% posts.forEach((post) => { %>
		<div style="padding-top:20px; padding-bottom:20px;">
			<h4>
				<%= post.title %> - <%=post.created.toDateString(); %> 
			</h4>
			<img src='<%=post.image%>' style="border-radius: 20%; height:500px; width:auto; padding-top:10px; padding-bottom:10px;">
			<p>
				<%=post.body.substring(0, 200)%>... 
			</p>
			<a class="btn btn-warning" style="text-decoration: none;" href='/posts/<%=post._id%>'>Read More</a>
			<hr> 
		</div>
	<% }); %>
	<% } else { %>
	<div>
		<h3>
			Uh oh! Looks like it's time to add some posts! 
		</h3>	
	</div>
	<% } %> 
</div>
<% include ./partials/footer %> 
