<% include ./partials/header %>
<div>
	<h1>Cinnamon and Cumin: the Blog</h1>
</div>
<div>
	<% if(posts) { %>
		<% posts.forEach((post) => { %>
		<div>
			<h4>
				<%= post.title %>
			</h4>
			<img src='<%=post.image%>'>
			<p>
				<%=post.created.toDateString(); %>
			</p>
			<p>
				<%=post.body%>... 
			</p>
			<a href='/posts/<%=post._id%>'>Read More</a>
		</div>
	<% }); %>
	<% } else { %>
	<div>
		<h3>
			Uh oh! Looks like it's time to add some posts! 
		</h3>	
	</div>
	<% } %> 
</div>
<% include ./partials/footer %> 
